<!DOCTYPE html>
<html>
  <head>
    <title>User Goal App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


    <% if logged_in? %>
      <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="autenticity_token" value="<%= form_authenticity_token %>"/>
      <button>Sign Out</button>
      </form>

    <% else %>
      <a href="<%= new_user_url  %>"> Sign Up </a>
      <a href="<%= new_session_url %>"> Login </a>

    <% end %>

  <body>
    <%= yield %>
  </body>


    <% if flash[:errors] %>
        <%= flash[:errors].join(",") %>
    <% end %>

</html>
